{% extends 'layout.html' %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page"> Animation Creator</li>
  </ol>
</nav>

<div class="container">
	<div class="header"><h1>Your animation</h1></div>
	<hr />

<div class="container">
		
<form method="POST" action="{{ url_for('handle_upload') }}" enctype="multipart/form-data">
<div class="row">
  <div class="col-md-3">  
  <input name="uploaded_file" type="file"/>
</div>   
  <div class="col-md-9">
  <button type="submit" class="btn btn-success">Add Photo</button>
</div>
</div>
</form>

</div>
{% endblock %}